# Database
DATABASE_URL=postgresql://neondb_owner:npg_CB1LSdDMrE2J@ep-crimson-mountain-aeg7vggf-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# JWT Secret (gere uma string aleatória segura)
JWT_SECRET=gymconnect_super_secret_jwt_key_2024

# Environment
NODE_ENV=development
